<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/conradcainefrontend/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/conradcainefrontend/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/conradcainefrontend/css/component.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/conradcainefrontend/css/default.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        <script src="{{ asset('bundles/conradcainefrontend/js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/conradcainefrontend/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/conradcainefrontend/js/script.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/conradcainefrontend/js/angular.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/conradcainefrontend/js/modernizr.custom.js') }}" type="text/javascript"></script>
    </head>

    <body>
        {% block navigation %}
            <div role="navigation" class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">ShameBoard #dev-version</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ path('index_default') }}">Home</a></li>
                            <li class="active"><a href="{{ path('index_rule') }}">Rules</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="{{ url('fos_user_security_login') }}">Login</a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        {% endblock %}

        <div id="content">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>